@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
header h1 {
  font-weight: 700;
  color: #d7b94c;
  font-family: 'Inconsolata', Consolas, monospace;
}

header section {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

header section img {
  width: 250px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 0 20px 10px grey;
          box-shadow: 0 0 20px 10px grey;
  border-radius: 50%;
}

@media screen and (min-width: 1220px) {
  header section img {
    width: 300px;
    height: 300px;
    margin: 50px 0 0 200px;
  }
}

.header-content {
  margin-top: 20px;
  padding: 30px;
  text-align: center;
}

@media screen and (min-width: 1220px) {
  .header-content {
    text-align: left;
    padding: 40px;
  }
}

.header-content h1 {
  font-size: 40px;
}

.description {
  text-align: left;
  font-size: 20px;
}

.btn {
  margin: 10px;
  padding: 10px 40px;
  text-align: center;
  border: 2px solid #585d65;
  cursor: pointer;
  border-radius: 64px;
  font-size: 16px;
  text-decoration: none;
}

.btn:hover {
  background-color: white;
}

.btn a {
  color: white;
}

.btn a:hover {
  color: gray;
  text-decoration: none;
}

@media screen and (min-width: 1220px) {
  #container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

#skills {
  width: 100%;
  height: 50%;
  margin-bottom: 100px;
}

#skills h2 {
  margin-top: 50px;
}

#skills img {
  color: white;
}

@media screen and (min-width: 769px) {
  #skills {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.icon-image {
  width: 150px;
  height: 100px;
}

@media screen and (min-width: 769px) {
  .skills-container {
    margin-right: 20px;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

#work .container {
  margin-top: 30px;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 1220px) {
  #work .container {
    margin: 2%;
  }
}

#work .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3%;
}

#work .middle {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#work .container:hover .image {
  opacity: 0.3;
}

#work .container:hover .middle {
  opacity: 1;
}

#work .text {
  background-color: white;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 4%;
}

#work .text a {
  color: gray;
  text-decoration: none;
}

#work .text a:hover {
  color: black;
}

.work-container {
  margin: 30px 0;
}

@media screen and (min-width: 769px) {
  .work-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

#services {
  width: 100%;
  height: 50%;
  margin-top: 50px;
  margin-bottom: 20px;
}

@media screen and (min-width: 769px) {
  #services {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #services p {
    padding-left: 70px;
    margin-right: 40px;
  }
}

#services p {
  padding-top: 15px;
}

.fas, .far {
  color: #d7b94c;
  font-size: 30px;
  margin-right: 20px;
}

* {
  margin: 0;
  padding: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #373b40;
  color: #FFFF;
}

main {
  padding: 20px;
}

main p {
  margin-bottom: 50px;
  position: relative;
  float: left;
}

.line {
  background-color: white;
  height: 1px;
  margin-bottom: 40px;
}

footer {
  color: #585d65;
  text-align: center;
  font-size: 30px;
}

footer a {
  color: gray;
}

footer a:hover {
  color: white;
}

footer .fab {
  margin: 20px 20px;
}
/*# sourceMappingURL=styles.css.map */