@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  position: fixed;
  height: 45px;
  top: 0;
  padding: 10px 5%;
}
header nav {
  float: right;
}

/* Hamburguer Menu */
@media screen and (min-width: 1220px) {
  .menu {
    padding: 20px 10px;
    display: inline-block;
    width: 10%;
    position: absolute;
    left: 5px;
    top: 40px;
  }
  .menu .fas {
    font-size: 25px;
    margin-top: 30px;
    color: #585d65;
  }
  .menu .fas:hover {
    color: white;
  }
}
.menu ul {
  width: 100%;
  position: absolute;
  top: 45px;
  left: 10px;
  overflow: hidden;
  list-style: none;
  background: black;
  height: 0px;
}
@media screen and (min-width: 1220px) {
  .menu ul {
    position: relative;
    top: 20px;
    overflow: hidden;
    background: unset;
    height: unset;
  }
}
.menu li {
  position: relative;
}
.menu li:hover {
  background: #5a5a5a;
}
@media screen and (min-width: 1220px) {
  .menu li:hover {
    background: unset;
    border-bottom: 2px solid gray;
  }
}
@media screen and (min-width: 1220px) {
  .menu li {
    padding: 5px 10px;
    display: block;
    float: left;
  }
}
.menu a {
  position: relative;
  text-decoration: none;
  color: white;
  padding: 16px 5%;
  line-height: 28px;
  display: block;
}
.menu a:hover {
  color: #ffff;
}
@media screen and (min-width: 1220px) {
  .menu a {
    padding: 10px;
    font-size: 30px;
  }
}

.bars {
  display: block;
  width: 25px;
  height: 2.5px;
  margin-bottom: 6.5px;
  position: relative;
  background: #000;
  z-index: 1;
  transform-origin: 3px 0px;
  transition: transform 0.5s ease, opacity 0.55s ease;
}
.bars:first-child {
  transform-origin: 0% 0%;
}
.bars:nth-last-child(2) {
  transform-origin: 0% 100%;
}
@media screen and (min-width: 1220px) {
  .bars {
    display: none;
  }
}

/* Input type:checkbox style */
.button {
  display: block;
  width: 40px;
  height: 32px;
  opacity: 0;
  z-index: 2;
  position: absolute;
}
.button:hover {
  cursor: pointer;
}
.button:checked ~ ul {
  height: 240px;
  transition: height 0.5s ease-in-out;
}
.button:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(2px, 1px);
}
.button:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.button:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(1px, 0px);
}
@media screen and (min-width: 1220px) {
  .button {
    display: none;
  }
}

/* Body styles */
body {
  background-color: #373b40;
  color: #FFFF;
}

#home {
  width: 100%;
  height: auto;
  margin-top: 10px;
}
#home img {
  width: 300px;
  height: 300px;
  display: none;
}
@media (min-width: 1220px) {
  #home {
    width: 60%;
    display: block;
    float: right;
    margin-top: 100px;
    height: 600px;
  }
  #home img {
    display: block;
    position: absolute;
    left: 13%;
    top: 25%;
  }
}

.home-content {
  margin-top: 30px;
  text-align: left;
}
.home-content h1 {
  font-size: 40px;
}

.btn {
  padding: 10px 30px;
  height: 64px;
  text-align: center;
  text-transform: uppercase;
  background: 0 0;
  outline: none;
  border: 1px solid #585d65;
  cursor: pointer;
  border-radius: 64px;
  font-size: 16px;
  color: #FFFF;
  text-decoration: none;
}
.btn:hover {
  background-color: white;
  color: gray;
}

.description {
  margin-bottom: 50px;
}

#skills {
  width: 100%;
  height: 50%;
}
@media screen and (min-width: 1220px) {
  #skills {
    width: 50%;
    padding-left: 10%;
  }
}
#skills h3 {
  margin-top: 30px;
}

.progress-bar {
  height: 25px;
  width: 100%;
  color: white;
  border: 1px solid white;
}

.percentage {
  height: 23px;
  background-color: gray;
  width: 90%;
  padding-left: 80%;
}

.two {
  width: 50%;
  padding-left: 40%;
}

.three {
  width: 80%;
  padding-left: 70%;
}

.four {
  width: 40%;
  padding-left: 30%;
}

#work .container {
  margin-top: 30px;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 1220px) {
  #work .container {
    margin: 2%;
  }
}
#work .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border-radius: 3%;
}
#work .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
#work .container:hover .image {
  opacity: 0.3;
}
#work .container:hover .middle {
  opacity: 1;
}
#work .text {
  background-color: white;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 4%;
}
#work .text a {
  color: gray;
  text-decoration: none;
}
#work .text a:hover {
  color: black;
}

#about {
  width: 100%;
  height: 50%;
}

#services {
  width: 100%;
  height: 50%;
}

main {
  font-family: "Poppins", sans-serif;
}
main h1 {
  font-weight: 700;
  color: #d7b94c;
  font-family: "Inconsolata", Consolas, monospace;
}
main h2, main h4 {
  text-align: center;
  font-weight: 300;
}
main hr {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFF;
  height: 1px;
  border: 1px solid #585d65;
  margin-top: 20px;
}
main section {
  margin-top: 3%;
  padding: 20px;
}
main section img {
  width: 100%;
}
main p {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  float: left;
}
main p span {
  position: absolute;
  top: 0;
  right: 0;
  background: gray;
  width: 100%;
  border-left: 0.1em solid transparent;
  animation: typing 3s steps(12) forwards, cursor 1s infinite;
}

.flex-images {
  margin-top: 5%;
}

/* Animation */
@keyframes typing {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
@keyframes cursor {
  50% {
    border-color: white;
  }
}
@media screen and (min-width: 1220px) {
  .flex-container {
    display: flex;
    flex-flow: row wrap;
  }
  .flex-container .flex-images {
    width: 100%;
    height: auto;
    padding: 3% 3% 0;
    margin-top: 5%;
    border-radius: 4%;
  }
  .flex-container .flex-components {
    display: flex;
    flex-flow: row;
    padding-left: 8%;
  }
  .flex-container .paragraph {
    width: 100%;
    height: auto;
  }
  .flex-container .second-item:nth-of-type(1) {
    order: 1;
  }
}
footer {
  color: #585d65;
  text-align: center;
  font-size: 20px;
}
footer a {
  color: gray;
}
footer a:hover {
  color: white;
}
footer .fab {
  margin: 20px 20px;
}

@media screen and (min-width: 1220px) {
  form {
    width: 80%;
    padding-left: 20%;
  }
}
form input {
  width: 100%;
}
form .btn {
  color: white;
}

/*# sourceMappingURL=styles.css.map */
